h1 {
    margin-left: 540px;
    color: darkgreen;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: darkgreen;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: orange;
}

.divlogintype {
    width: 100px;
    padding: 30px;
    border: 5px solid gray;
    margin-left: 500px;
    margin-top: 50px;
}

.organizationlogin {
    width: 100px;
    padding: 30px;
    border: 5px solid gray;
    margin-left: 500px;
    margin-top: 50px;
}

