<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/CSS/styling.css" type="text/css">
    <meta charset="UTF-8">
    <title>About</title>
</head>
<body>
<img class="center-logo-about" src="/images/dmm_logo.png" alt="Danmark mod madspild logo">
<br>
<ul>
    <li> <a href="/">Forside</a></li>
    <li> <a href="/login">Login</a></li>
    <li><a href="/signup">Sign up</a></li>
   </ul>
<br>
<p style="text-align:center">Organisation "Danmark mod Madspild" – er et mødested for de private forbrugere og
    viksomheder,<br> samt organisationer som har et formål at gøre det nemmere at undgå madspil
</p>
<p style="text-align: center">Hver eneste dag året rundt bliver næsten 2.000 ton mad smidt ud i Danmark. Og alt i alt
    tegner Danmarks samlede madspild sig for 700.000 ton årligt.
</p>
<img class="center-madspild" src="/images/madspild.jpg" alt="Madspild.jpg">
<p style="text-align:center">En række af landets førende virksomheder, private forbrugere og organisationen "Danmark mod
    Madspild" vil nu gøre op med det.<br> Sammen lancerer de et banebrydende partnerskab,
    som under overskriften ”Danmark mod Madspild” skal samle danske de overnævnte parter i kampen mod
    madspild.
</p>
</body>
</html>