<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/CSS/styling.css" type="text/css">
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="/images/dmm_logo.png"/>
    <title>About</title>
 </head>
    <body>

    <div id="wrapperHeader">
        <div id="header">
        </div>
    </div>


    <ul class="navbar">
        <li> <a href="/">Forside</a></li>
        <li> <a href="/login">Login</a></li>
        <li><a href="/signup">Sign up</a></li>
    </ul>

        <img class="center-logo" src="/images/dmm_logo.png" alt="Danmark mod madspild logo">


<div class="div">
<p>Organisation "Danmark mod Madspild" – er et mødested for de private forbrugere og
    viksomheder, samt organisationer som har et formål at gøre det nemmere at undgå madspil.
</p>
    <p> Vi er en organisation som blev stiftet i 2005, og har siden kæmpet for at formindske madspild i Danmark.
    vores mærkesager er følgende:</p>

    <ul>
    <li>Vi vil kaste lyse over danskerne store madspild, og gøre en indstats for det bliver halveret</li>
    <li>Vi har udviklet en madspildsudregner, der kan være med til at skabe fokus på madspild</li>
    <li>Sparer på Jordens i forvejen knappe ressourcer</li>
    <li> Opfører sig ansvarligt i en verden, hvor der på verdensplanen dør årligt over 15 millioner børn af sult</li>
    <li>Bidrager til at begrænse CO2-udslippet, hvorved drivhuseffekten og dermed den globale opvarmning bremses
    </ul>

<p>Hver eneste dag året rundt bliver næsten 2.000 ton mad smidt ud i Danmark. Og alt i alt
    tegner Danmarks samlede madspild sig for 700.000 ton årligt.
</p>
</div>
<img class="center-madspild" src="/images/madspild.jpg" alt="Madspild.jpg">

<div class="div">
<p>En række af landets førende virksomheder, private forbrugere og organisationen "Danmark mod
    Madspild" vil nu gøre op med det. Sammen lancerer de et banebrydende partnerskab,
    som skal samle danske de overnævnte parter i kampen mod
    madspild.
</p>
</div>
</body>
</html>