<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/CSS/styling.css" type="text/css">
    <meta charset="UTF-8">
    <title>Forside</title>

    <div id="wrapperHeader">
        <div id="header">
        </div>
    </div>

</head>

<body>
<h1>Sådan kan virksomheden undgå madspild, fx ved donation</h1>

<ul>
    <li><a href="/">Sign out</a></li>
    <li><a href="/skraldespand">Skraldespand</a></li>
</ul>

<h3>Inspirer andre ligesom disse organisationer gør:</h3>


<div1Org>
    <p>Er virksomheden i tvivl om, hvornår den må donere fødevarer til velgørende formål?</p>
    <p>Hvornår er det nok at sortere afvigende varer fra? Og kan virksomheden bruge</p>
    <p>varerne som ingrediens i produktionen eller fryse dem ned?</p>
    <p>Virksomheden skal altid sikre sig, at fødevarerne er i orden, så de ikke gør</p>
    <p>forbrugerne syge. I mange tilfælde må virksomheden kassere varer. Men der er</p>
    <p>meget, man kan gøre for at undgå madspild.</p>
    <br>
    <h3>Råd til virksomheder for at mindste madspild:</h3>

    <dl>
        <li>Turn Food Waste into Profit</li>
        <br>
        <li>Create a Food Waste Recycling Program</li>
        <br>
        <li>Make Products from Food Waste</li>
        <br>
        <li>Support Your Local Food Waste Startup</li>
        <br>
        <li>Donate Wasted Food to Local Shelters</li>
        <br>
        <li>Buy Food Conservatively and Consciously</li>
        <br>
        <li>Explore an App-Based Solution</li>
        <br>
        <li>Think Before Throwing Food Away</li>
    </dl>
</div1Org>


</body>

</html>
