<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/CSS/styling.css" type="text/css">
    <link rel="icon" type="image/png" href="/images/dmm_logo.png"/>
    <meta charset="UTF-8">
    <title>FrontPageBusiness</title>
   </head>

<body>

<div id="wrapperHeader">
    <div id="header">
    </div>
</div>

<div class="navbar" style="text-align: center">
    <li><a href="/">Sign out</a></li>
    <li><a href="/skraldespand">Skraldespand</a></li>
</div>

<img class="center-logo" src="/images/dmm_logo.png" alt="Danmark mod madspild logo">

<h1>Sådan kan virksomheden undgå madspild, fx ved donation</h1>


<h3>Inspirer andre ligesom disse organisationer gør:</h3>


<div class="div">
    <p>Er virksomheden i tvivl om, hvornår den må donere fødevarer til velgørende formål?
    Hvornår er det nok at sortere afvigende varer fra? Og kan virksomheden bruge
    varerne som ingrediens i produktionen eller fryse dem ned?
    Virksomheden skal altid sikre sig, at fødevarerne er i orden, så de ikke gør
    forbrugerne syge. I mange tilfælde må virksomheden kassere varer. Men der er
    meget, man kan gøre for at undgå madspild.</p>


    <br>
    <h3>Råd til virksomheder for at mindste madspild:</h3>

    <ul>
        <li>Turn Food Waste into Profit</li>
        <br>
        <li>Create a Food Waste Recycling Program</li>
        <br>
        <li>Make Products from Food Waste</li>
        <br>
        <li>Support Your Local Food Waste Startup</li>
        <br>
        <li>Donate Wasted Food to Local Shelters</li>
        <br>
        <li>Buy Food Conservatively and Consciously</li>
        <br>
        <li>Explore an App-Based Solution</li>
        <br>
        <li>Think Before Throwing Food Away</li>
    </ul>
</div>


</body>

</html>
