<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/CSS/styling.css" type="text/css">
    <link rel="icon" type="image/png" href="/images/dmm_logo.png"/>
    <meta charset="UTF-8">
    <title>FrontPagePrivate</title>
 </head>
<body>

<div id="wrapperHeader">
    <div id="header">
    </div>
</div>

<ul class="navbar">
<li> <a href="/">Sign out</a></li>
<li><a href="/skraldespand">Skraldespand</a></li>
</ul>

<img class="center-logo" src="/images/dmm_logo.png" alt="Danmark mod madspild logo">


<h1>Mindre madspild starter med dig som privat</h1>

<h3>Vær den forandring du ønsker at se i verden</h3>

<div class="div">
    <p>Al den mad, du køber og tilbereder, skal i munden og ikke i skraldespanden.
    At stoppe madspild er hverken kompliceret, dyrt eller besværligt.
    Her er tre dagligdags situationer, hvori du kan komme madspild til livs:</p>
</div>

<div1Private>
    <img src="/images/I-butikken.jpg">
</div1Private>



<div2Private>
    <p>1. I supermarkedet: Indkøb kun den mængde mad, du har brug for.</p>
</div2Private>

<div3Private>
    <img src="/images/I-butikken2.jpg">
</div3Private>

<div4Private>
    <p>2. I køkkenet: Tilbered kun den mængde mad, du/I kan spise.</p>
</div4Private>

<div5Private>
    <img src="/images/I-butikken3.jpg">
</div5Private>

<div6Private>
    <p>3. Efter et måltid: Hvis du alligevel lavede for meget mad, skal maden i fryseren til en anden dag eller i køleskabet og spises dagen efter.</p>
</div6Private>

</body>

</html>
