<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/CSS/styling.css" type="text/css">
    <meta charset="UTF-8">
    <title>Forside</title>

    <div id="wrapperHeader">
        <div id="header">
        </div>
    </div>

</head>

<body>
<h1>Mindre madspild spirer inspiration med dig som Organisation</h1>

<ul>
    <li><a href="/">Sign out</a></li>
    <li><a href="/skraldespand">Skraldespand</a></li>
</ul>

<h3>Inspirer andre ligesom disse organisationer gør:</h3>

<divOrg>
    <p>Canadiske iværksættere bliver kreative i forsøget på at løse verdens madspildsproblem.</p>
    <p>CBC News talte med flere virksomheder for at se, hvordan de udvikler kreative løsninger og</p>
    <p>teknologi til at reducere mængden af mad, der ender på lossepladser.</p>
</divOrg>


</body>

</html>
