<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/CSS/styling.css" type="text/css">
    <link rel="icon" type="image/png" href="/images/dmm_logo.png"/>
    <meta charset="UTF-8">
    <title>FrontPageOrganisation</title>
</head>

<body>

<div id="wrapperHeader">
    <div id="header">
    </div>
</div>

<div class="navbar" style="text-align: center">
    <li><a href="/">Sign out</a></li>
    <li><a href="/skraldespand">Skraldespand</a></li>
</div>

<img class="center-logo" src="/images/dmm_logo.png" alt="Danmark mod madspild logo">

<h1>Mindre madspild spirer inspiration med dig som Organisation</h1>

<h3>Inspirer andre ligesom disse organisationer gør:</h3>

<divOrg>
    <iframe width="640" height="480" src="https://www.youtube.com/embed/fRovHP4eXyM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</divOrg>

<div1Org>
    <p>Canadiske iværksættere bliver kreative i forsøget på at løse verdens madspildsproblem.</p>
    <p>CBC News talte med flere virksomheder for at se, hvordan de udvikler kreative løsninger og</p>
    <p>teknologi til at reducere mængden af mad, der ender på lossepladser.</p>
</div1Org>


</body>
</html>
