<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/styling.css" type="text/css">
    <meta charset="UTF-8">
    <title>Forside</title>
</head>
<body>

<h1>Forside</h1>

<ul>
    <li> <a href="/login">Login</a></li>
    <li><a href="/signup">Sign up</a></li>
    <li><a href="/about">About</a></li>
</ul>

<h3>Værd at vide om madspild</h3>
<p>Madspildet i den danske servicesektor udgør 227.000-ton pr. år.</p>
<p>Til sammenligning er det samlede madspild fra husholdningerne 261.000-ton pr. år.</p>
<p>Det største madspild i servicesektoren stammer fra detailhandelen, der spilder 163.000 tons pr. år, svarende til 72 % af servicesektorens madspild.</p>
<p>Af detailhandelens madspild står specialforretninger som slagtere, fiskeforretninger og grønthandlere for 12.000 tons pr. år, mens ikke-specialiserede forretninger som kiosker, købmænd, supermarkeder og varehuse står for 151.000-ton pr. år.</p>
<p>Kilde: Kortlægning af madaffald i servicesektoren og Kortlægning af dagrenovation i Danmark</p>

<h4>Klik på "Sign up" knappen for at registrere dig som medlem, enten som privatperson, virksomhed eller organisation, hvor du/I kan registrere jeres forbrug på mad og have et overblik over jeres madspild!</h4>

</body>
</html>