<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/styling.css" type="text/css">
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="/images/dmm_logo.png"/>
    <title>Forside</title>
</head>
    <body>

    <div id="wrapperHeader">
        <div id="header">

        </div>
    </div>

        <ul class="navbar">
            <li><a href="/login">Login</a></li>
            <li><a href="/signup">Sign up</a></li>
            <li><a href="/about">Om organisation</a></li>
        </ul>

        <img class="center-logo" src="/images/dmm_logo.png" alt="Danmark mod madspild logo">


    <h3>Værd at vide om madspild</h3>

        <div class="div">

             <p><img class="global" src="/images/Global-opvarmning.jpg" alt="Global opvarmning">Madspildet i den danske servicesektor udgør 227.000-ton pr. år.
                Til sammenligning er det samlede madspild fra husholdningerne 261.000-ton pr. år.
                Det største madspild i servicesektoren stammer fra detailhandelen, der spilder 163.000 tons pr. år,
                 svarende til 72 % af servicesektorens madspild.
                Af detailhandelens madspild står specialforretninger som slagtere, fiskeforretninger og grønthandlere
                 for 12.000 tons pr. år, mens ikke-specialiserede forretninger som kiosker, købmænd, supermarkeder og
                 varehuse står for 151.000-ton pr. år.
                Klik på "Sign up" knappen for at registrere dig som medlem, enten som privatperson, virksomhed eller
                 organisation,
                hvor du/I kan registrere jeres forbrug på mad og have et overblik over jeres madspild!
                Ved at i/du opretter en profil, og deler jeres cirka madspild, så er i, i det store billede til,
                 at give et overblik over de høje tal danskerne.
                har når det kommer til madspild, og ved at i opretter jer, så kommer der mere fokus på det store
                 problem.</p>
        </div>

    </body>

</html>
