<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign up</title>
    <link rel="icon" type="image/png" href="/images/dmm_logo.png"/>
    <link rel="stylesheet" href="/css/stylinglogin.css" type="text/css">
</head>
<body>

<div id="wrapperHeader">
    <div id="header">

    </div>
</div>

<ul class="navbar">
    <li><a href="/">Forside</a></li>
    <li><a href="/signup">Sign up</a></li>
    <li><a href="/about">About</a></li>
</ul>

<img class="center-logo" src="/images/dmm_logo.png" alt="Danmark mod madspild logo">

<h1>Sign up</h1>

<div class="signupbox">
    <label><b>Account type </b></label>
    <input type="text" placeholder="Business/Private/Org.." name="email" required>
    <br>
    <br>

    <label><b>Email</b></label>
    <input type="text" placeholder="Enter Email" name="email" required>
    <br>
    <br>

    <label><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>
    <br>
    <br>

    <form action="/login">
        <input type ="submit" value = "Sign up">
    </form>

    <form action="/">
        <input type ="submit" value = "Cancel">
    </form>

    <label>
        <input type="checkbox" checked="checked" name="remember"> Remember me
    </label>

</div>

</body>
</html>