<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/stylinglogin.css" type="text/css">
     <link rel="icon" type="image/png" href="/images/dmm_logo.png"/>
    <title>Title</title>
</head>

<body>

<div id="wrapperHeader">
    <div id="header">

    </div>
</div>

<img class="center-logo" src="/images/dmm_logo.png" alt="Danmark mod madspild logo">



<div class="backet-middle">
<form>
    <b><label>Number of people:</label></b><br>
    <input type = "text"> <br> <br>
    <b><label>Food waste this week:</label></b><br>
    <input type = "text"><br><br>
    <input type="submit">

</form>
</div>
</body>
</html>